body {
    margin: 0;
    font-family: monospace;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 10px;
    box-shadow: 0 1px 1px -1px gray; /* Creates a soft shadow at the bottom */
}

.header-title {
    margin: 0;
    color: rgb(48, 48, 48); /* Black color for the title */
    font-size: 25px;
    text-decoration: none;
}

.header-nav {
    display: flex;
    gap: 10px; /* Add space between nav items */
}

.header-nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 1px 1px 2px black;
}
.header-nav a:hover {
    transform: scale(1.05); /* Slightly enlarges the button */
}

.header-nav a:active {
    transform: scale(0.95); /* Mimics a button press effect */
}

.portfolio {
    background-color: #06d6a0;
}

.about {
    background-color: #26547c;
}

.home {
    background-color: #ffd166;
}

.blog {
    background-color: #ef476f;
}

.CV{
    background-color: #ffd166;
}

.travel{
    background-color: #9370db;
}
