body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

.intro {
    padding: 10px;
    text-align: center;
}

.tag {
    display: inline-block;
    background-color: grey;
    padding: 5px 10px;
    margin: 2px;
    color: white;
    font-size: 14px;
    border-radius: 15px;
    cursor: default;
    transition: background-color 0.3s;
}


.python { background-color: #4CAF50; }
.java { background-color: #2196F3; }
.javascript {  background-color: #f0db4f; }
.typescript {  background-color: #f0db4f; }

.cpp { background-color: #f34b7d; }
.html-css { background-color: #e34c26; }


.tag:hover{
    background-color: #333;

}

#searchInput {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border-radius: 15px;
}

#portfolioContainer {
    column-count: 3;  /* Adjust based on your preferred number of columns */
    column-gap: 75px;
    width: 90%;
    max-width: 1500px; /* Adjust or remove this as necessary */
    margin: auto;
    padding: 20px;
}

.projectBox {
    break-inside: avoid; /* Prevents boxes from splitting across columns */
    margin-bottom: 40px;
    width: 100%;  /* This makes sure the box takes up the full column width */
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
    outline: 1px   solid   #ccc;
    overflow: hidden; /* Optional, for content that might overflow */
    padding: 10px;
    padding-left: 20px;
}

.button {
    padding: 10px 20px; /* Slightly larger than tag for better clickability */
    background-color: transparent; /* Green, similar to your .python tag for a tech feel */
    margin-left: 5px;
    color: black;
    font-size: 14px;
    border: solid 1px black;
    border-radius: 15px;
    cursor: pointer;
    outline: none; /* Removes the outline to maintain a clean look */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.button:hover {
    background-color: #d0cfcf; /* Darker on hover, similar to your tag hover effect */
    transform: scale(1.05); /* Slightly enlarges the button */
}

.button:active {
    transform: scale(0.95); /* Mimics a button press effect */
}

img {
    width: 75%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px; /* Center image and add bottom margin */
}



.projectBox:hover {
    transform: translateY(-5px);
}
